<%= form_for(proposal) do |f| %>
  <% if proposal.errors.any? %>
    <div id="error_explanation">
      <%if proposal.errors.count > 1%>
      <h2><%= pluralize(proposal.errors.count, "errori") %> impediscono il salvataggio:</h2>
      <%else%>
      <h2>1 errore impedisce il salvataggio:</h2>
      <%end%>
      <ul>
      <% proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, 'Titolo' %>
    <%= f.text_field :title, class:"form-control" %>
  </div>


  <fieldset>
      <legend>Referente</legend>
      <div class="col-sm-8">
    <%= f.fields_for :referent, @proposal.referent do |ff| %>
      <div>
        <%= ff.label :name, 'Nome' %>
        <%= ff.text_field :name, class:"form-control"%>
      </div>

      <div>
        <%= ff.label :surname, 'Cognome' %>
        <%= ff.text_field :surname, class:"form-control" %>
      </div>

      <div>
        <%= ff.label :email, 'Email' %>
        <%= ff.text_field :email, class:"form-control" %>
      </div>
    <% end %>
  </div>
  </fieldset>


  <div class="field">
    <%= f.label :team_name, 'Nome Team' %>
    <%= f.text_field :team_name, class:"form-control" %>
  </div><br>


  <%= f.fields_for :members do |builder| %>
    <%= render 'member_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Aggiungi  Membri", f, :members %>
  <br>

  <fieldset>
    <legend>Area Tematica</legend>
  <%= f.collection_radio_buttons :category_id, Category.all, :id, :name %>
</fieldset>

<fieldset>
  <legend>ABSTRACT DEL PROGETTO</legend>
  <div class="field">
    <%= f.label :description, 'Breve sintesi della proposta presentata, delle finalità, dei suoi obiettivi e dei risultati attesi(max 700 caratteri, spazi esclusi)' %><br>
    <%= f.text_area :description, class:"form-control" %>
  </div>
</fieldset>

<fieldset>
  <legend>IMPATTO DEL PROGETTO</legend>
  <div class="field">
    <%= f.label :answer1, "1. In che modo l'attività proposta può avere un impatto positivo nell'ambito delle smart cities?" %><br>
    <%= f.text_area :answer1, class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label :answer2, '2. Quale problema o sfida si spera di risolvere con la presente proposta progettuale?' %><br>
    <%= f.text_area :answer2, class:"form-control" %>
  </div>
</fieldset>

<fieldset>
  <legend>DESCRIZIONE DETTAGLIATA DEL PROGETTO</legend>
  <div class="field">
    <%= f.label :detailed_description, 'Descrizione dettagliata (max 4000 caratteri, spazi esclusi)' %><br>
    <%= f.text_area :detailed_description, class:"form-control" %>
  </div>
</fieldset>



<fieldset>
  <legend>FONDI NECESSARI</legend>
  <label> Una stima approsimativa del finanziamento da richiedere per realizzare la proposta progettuale, che includa: stima del lavoro necessario e delle risorse umane (quantità di tempo e relativo costo) da impiegare nel progetto, attrezzature, forniture e quanto ritenuto necessario ai fini della realizzazione concreta dell'intero progetto</label><br>
  <%= link_to 'FONDI NECESSARI', '/assets/schema-di-budget.xlsx',  download: ''%>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="form-group">
        <%= f.label :file, "File" %>
        <%= f.file_field :file %>
      </div>
    </div>
  </div>

  <% if @proposal.file.present? %>
    <p>FILE CARICATO:<%= link_to @proposal.file_identifier, @proposal.file.url%></p>
  <%end%>
</fieldset>

<fieldset>
  <legend>ALLEGATI PROGETTO</legend>
  <label>Eventuali tavole progettuali (max 2 formato A1 - Orientamento verticale) o altri allegati vanno inoltrate tramite Wetransfer in formato PDF al seguente indirizzo Email: cfp@smartgioiosa.it inserendo come oggetto "CFP SMARTGIOIOSA - Titolo Progetto"</label>
  <br>
<label><%= f.check_box :attachments %>ALLEGATI</label><br>
<p class="help-block">Se inviate degli allegati spuntare questa casella altrimenti non verranno presi in considerazione.</p>

</fieldset>



<label><%= f.check_box :privacy %>PRIVACY</label><br>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
