<fieldset>
  <legend>Members</legend>
    <div class="col-sm-8">
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, class:"form-control" %>

      <%= f.label :surname, "Cognome" %>
      <%= f.text_field :name, class:"form-control" %>

      <%= f.label :profession, "Professione" %>
      <%= f.text_field :profession, class:"form-control" %>

      <%= f.hidden_field :_destroy %>

      <%= link_to "remove", '#', class: "remove_fields" %>
    </div>
</fieldset>
