<!DOCTYPE html>
<html>
  <head>
    <title>CfpSmartgioiosa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/top_menu"%>
     
    <%= render partial: "shared/slider"%> 
    <div class="container">
      <%= yield %>
    
    <hr>
    <%= render partial: "shared/footer"%>
    </div>


<!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>


  </body>
</html>
